body {
    background: dimgrey
}

.main {
    width: 70%;
    margin: auto auto;
    margin-top: 5rem;
    background: whitesmoke;
    text-align: center;
    padding: 2rem
}

.one {
    display: flex;
    margin: 1rem ;
    justify-content: center
}

.gray {
    background: grey;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem
}

input {
    text-align: center
}

.input {
    border: 1px solid grey ;
    border-left: none;
    width: 60%;
    height: 2rem
}

.input1 {
    border: 1px solid grey ;
    width: 61.4%;
    height: 2rem;
    margin-bottom: 1rem
}

.grey {
    color: white;
    background: black
}

.input2 {
    border: 1px solid grey ;
    border-left: none;
    width: 50%;
    height: 2rem
}

.grab {
    background: #f2f1f0;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    width: 15%
}

#loading, #results {
    display: none
}

.alert {
    background: rgb(223, 107, 107);
    height: 4rem;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem
}